@font-face {
  src: url("../fonts/Comfortaa-VariableFont_wght.ttf");
  font-family: Comfortaa;
}

@font-face {
  src: url("../fonts/FredokaOne-Regular.ttf");
  font-family: FredokaOne;
}

:root {
  --font-family: "Comfortaa";
  --font-leaderboard: "FredokaOne";
  --background-main-color: #ffa400;
  --width-menu-bar: 80px;
  --height-header: 85px;
  --color: rgba(133, 133, 133, 1);
}
@import "~bootstrap/scss/bootstrap";
@import "./header.scss";
@import "./leaderBoard.scss";
@import "./historyPointTable.scss";
@import "./profile.scss";
@import "./item.scss";
@import "./request.scss";
@import "./login.scss";
@import "./navbar.scss";
@import "./pagination.scss";
@import "./modal.scss";
@import "./listitem.scss";
@import "./infoUser.scss";
@import "./profileScreen.scss";
@import "./myitem.scss";
