.modal-body {
  .create-task-modal {
    display: flex;
    flex-direction: column;

    h5 {
      font-size: 14px;
      font-weight: 500;
      margin-top: 10px;
    }

    .form-select {
      width: 60%;
      background-color: #f0f0f0;
    }

    .form-control {
      width: 60%;
      background-color: #f0f0f0;
    }

    .point {
      .form-control {
        width: 100%;
      }
    }

    .ck.ck-editor__editable_inline > :last-child {
      min-height: 200px;
    }

    .ck.ck-editor__editable_inline > :first-child {
      min-height: 200px;
    }

    .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
      background-color: #f0f0f0;
    }
  }
}
