.modal-content {
  .modal-body {
    .edit-task-modal {
      display: flex;
      flex-direction: row nowrap;

      h5 {
        font-size: 14px;
        font-weight: 500;
      }

      .left {
        flex: 1;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;

        .title {
          margin-top: 10px;
        }

        h5 {
          margin-top: 10px;
        }

        .ck.ck-editor__editable_inline > :last-child {
          min-height: 200px;
        }

        .ck.ck-editor__editable_inline > :first-child {
          min-height: 200px;
        }
      }

      .right {
        flex: 1;
        margin-right: 20px;

        h5 {
          margin-top: 10px;
        }

        .status {
          .form-select {
            width: 40%;
            font-size: 14px;
            font-weight: 500;
            background-color: #f0f0f0;
          }
          .option {
            font-size: 12px;
          }
        }

        .box {
          .form-select {
            width: 70%;
          }

          .form-control {
            width: 70%;
          }

          .assignee {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .assignee-avatar {
              width: 35px;
              height: 35px;
              border-radius: 30px;
            }
            margin-bottom: 10px;
          }
          .reporter {
            display: flex;
            flex-direction: row;
            .reporter-avatar {
              width: 35px;
              height: 35px;
              border-radius: 30px;
              object-fit: cover;
              margin-left: 70px;
            }
            .reporter-name {
              margin-left: 15px;
              transform: translateY(5px);
            }
            margin-bottom: 10px;
          }
          .deadline {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            .date {
              margin-left: 70px;
              transform: translateY(5px);
            }
          }
          .priority {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            justify-content: space-between;
          }
          .point {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            justify-content: space-between;
          }
          .project {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            justify-content: space-between;
          }
          .sprint {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
