.task-box {
  font-family: var(--font-family);
  background-color: #faf9ff;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;

  .task-content {
    padding: 15px;

    .line {
      .line-1 {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .left {
          display: flex;
          flex-flow: row wrap;
          position: relative;
          .type {
            .task-icon {
              width: 27px;
              height: 27px;
            }
            .subtask-icon {
              width: 20px;
              height: 20px;
            }
            .bug-icon {
              width: 25px;
              height: 25px;
            }
            transform: translateY(-2px);
            margin-right: 5px;
          }
          .priority {
            color: white;
            font-weight: 700;
            margin-left: 10px;
            position: absolute;
          }
          .deadline {
            color: #ed3f3f;
          }
        }
        .wrap-project {
          background-color: #08adff;
          border-radius: 20px;
          padding: 5px 10px;
          transform: translateY(-5px);
          .project {
            color: #fff;
          }
        }
      }
      .line-2 {
        display: flex;
        flex-flow: column;
        .title {
          color: #172b4d;
        }
        .right {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .assignee {
            img {
              width: 30px;
              height: 30px;
              border-radius: 30px;
              object-fit: cover;
              border: 2px solid white;
            }

            .child-task-avatar {
              transform: translateX(-10px);
            }
          }
          .wrap-status-name {
            padding: 0 10px;
            border-radius: 15px;
            p {
              font-size: 12px;
              font-weight: 700;
              transform: translateY(8px);
              color: white;
            }
          }
          .shortId {
            margin-left: 10px;
          }
          .wrap-point {
            background-color: #fff;
            border-radius: 20px;
            margin-left: 20px;
            padding: 5px 15px;
            transform: translateY(-5px);
          }
        }
      }

      .line-3 {
        .progressive-task {
          margin-top: 10px;
          width: 200px;
          height: 5px;
          border-radius: 5px;
          background-color: #f3f3f3;
          .progress-now {
            background-color: #08adff;
            height: 100%;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
