.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .column-1 {
        flex: 2;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .column-2 {
        flex: 1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
}
