.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px 0px;
    border: 1px solid #f3f3f3;

    .column-1 {
        flex: 2;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-left: 20px;

        .software-name {
            font-size: 20px;
        }
    }

    .column-2 {
        flex: 1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        transform: translateX(50px);
    }
}
