.search-screen {
    .title {
        padding: 15px;
        color: #6c757d;
        font-size: 20px;
        display: flex;
        flex-direction: row;

        .home {
            margin-right: 5px;
            color: #337ab7;
            cursor: pointer;
        }
    }

    .search-topic {
        padding: 0 15px;
        margin-bottom: 15px;

        .search-input {
            padding: 5px 40px;
            width: 300px;
            border: 1px solid #7b7e81;
            border-radius: 1px;
        }

        .icon {
            transform: translate(-290px, -3px);
        }
    }
}