.boxes {
  .box-feedback {
    display: flex;
    width: calc(100% - 30px);
    margin: 10px;
    justify-content: space-around;
    background-color: #aee0f0;
    border-radius: 20px;
    .month {
      flex: 1;
      margin: 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transform: translateY(15px);

      p:nth-child(1) {
        font-size: 20px;
        font-weight: 700px;
        color: #42565c;
      }

      p:nth-child(2) {
        font-size: 60px;
        font-weight: 700;
        color: #42565c;
        transform: translateY(-15px);
      }
    }

    .feedback {
      flex: 7;
      display: flex;
      justify-content: space-around;
      background-color: #f2fdff;
      border-radius: 20px;
      margin: 10px;

      .split {
        height: 90%;
        margin-left: 5px;
      }

      .strength {
        flex: 1;

        & > p {
          text-align: center;
          color: #56d382;
          font-size: 20px;
          font-weight: 700;
          padding-top: 10px;
        }

        div > p {
          margin-left: 20px;
          color: #67b0d9;
          font-size: 15px;
          font-weight: 700;
          word-wrap: break-word;
        }
      }

      .weakness {
        flex: 1;

        & > p {
          text-align: center;
          color: #e99674;
          font-size: 20px;
          font-weight: 700;
          padding-top: 10px;
        }

        div > p {
          margin-left: 20px;
          color: #67b0d9;
          font-size: 15px;
          font-weight: 700;
        }
      }

      .target {
        flex: 1.5;

        & > p {
          text-align: center;
          color: #eac953;
          font-size: 20px;
          font-weight: 700;
          padding-top: 10px;
        }

        div > p {
          margin-left: 20px;
          color: #67b0d9;
          font-size: 15px;
          font-weight: 700;
          margin-right: 10px;
        }
      }
    }
  }
}
